.App {
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-main {
  min-height: 75vh;
}

.App-footer {
  text-align: center;
  margin-top: 20px;
  min-height: 3vh;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 30%;
  background: rgb(248, 252, 255);
}
.container + .container {
  margin-left: 1%;
}

.container-head {
  text-align: center;
}

.container-body {
  justify-content: left;
}

h2 {
  height: 0.5rem;
}
